.sdk-example-body {
    user-select: none;
    background-color: #f3f3f3;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
}

.sdk-example-a {
    text-decoration: none;
}

.sdk-example-element {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
}

.sdk-example-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sdk-example-search-area {
    position: relative;
    bottom: 100%;
}

.sdk-example-search-box {
    height: 55px;
    padding: 7px 10px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #fff;
    bottom: 100%;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 20px;
    z-index: 3;
    top: 100%;
    /*border: 0 solid rgba(0, 0, 0, 0);*/
    width: 300px;
    text-align: start;
}

.sdk-example-search-box:focus {
    border: none;
    outline: none;
}

#sdk-example-autocompleteResults {
    box-sizing: content-box;
    padding: 0;
    margin-bottom: 0;
    background: #fff;
    max-height: calc(100vh - 100px);
    overflow: clip;
    -webkit-tap-highlight-color: #df1b12;
    width: 300px;
    border: 0 solid rgba(0, 0, 0, 0);
    position: relative;
    border-radius: 15px;
}

.sdk-example-result-item {
    color: #fff;
    padding: 6px 12px;
    width: 250px;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    border: 0 solid rgba(0, 0, 0, 0);
    position: relative;
    margin-bottom: 8px;
}

.sdk-example-result-item:hover {
    background-color: #f3f3f3;
    width: 300px;
}

.sdk-example-result-item.hovered {
    background-color: #f3f3f3;
    width: 300px;
}

.sdk-example-result-item:active {
    background-color: #df1b12;
    color: white;
}

.sdk-example-result-value {
    font-weight: normal;
    color: #263543;
    width: 100%;
}

.sdk-example-result-type {
    font-weight: normal;
    color: #727c85;
}

#sdk-example-fuzzySearchResults {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    background: #fff;
    max-height: calc(100vh - 100px);
    width: 300px;
    position: relative;
    border-radius: 15px;
    overflow: auto;
}

.highlight {
    background-color: #cccccc;
    width: auto;
    padding: 0;
    -webkit-tap-highlight-color: #df1b12;
    position: relative;
}

#sdk-example-search-this-area {
    text-align: center;
    float: right;
}

.sdk-example-search-this-area-btn {
    display: inline-block;
    padding: 8px 16px;
    height: 35px;
    width: 150px;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #df1b12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 100%;
}

#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-search-container {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    box-sizing: border-box;
}
