.panel {
    position: absolute;
    top: 10px;
    left: 0;
    background: white;
    padding: 10px;
    margin: 15px 10px;
    font-family: "Open Sans", Arial, sans-serif;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.heading-label {
    margin: 15px 0 5px 0;
    font-weight: bold;
}

select {
    margin-left: 10px;
    padding: 7px;
    border-radius: 5px;
}

button {
    margin-bottom: 5px;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.layers {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    gap: 5px;
}

.toggle {
    position: absolute;
    right: 20px;
    height: 26px;
    padding: 5px;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
