#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-pin {
    position: absolute;
    border-radius: 50%;
    border: 8px solid #df1b12;
    width: 8px;
    height: 8px;
}

.sdk-example-pin::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid #df1b12;
}
