#maps-sdk-js-examples-map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.maps-sdk-js-examples-hr {
    background: #dadce0;
    border: none;
    height: 1px;
    width: 90%;
    margin: 3px 0;
}

.maplibregl-popup {
    transform: none !important;
    top: 15%;
    left: 10px;
}

.maplibregl-popup-tip {
    display: none;
}

.maplibregl-popup-content {
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

.maps-sdk-js-examples-pin {
    position: absolute;
    border-radius: 50%;
    border: 8px solid #df1b12;
    width: 8px;
    height: 8px;
}

.maps-sdk-js-examples-pin::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid #df1b12;
}

.maps-sdk-js-examples-dot {
    position: relative;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #df1b12;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
}

.maps-sdk-js-examples-popup {
    position: absolute;
    bottom: -100%;
    left: calc(50% - 225px);
    min-width: 450px;
    animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
    from {
        bottom: -100%;
    }
    to {
        bottom: 10px;
    }
}

.maps-sdk-js-examples-popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
}

.maps-sdk-js-examples-popup-lnglat {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1rem;
    color: #df1b12;
    margin-bottom: 6px;
}
