.sdk-example-body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
}

#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#sdk-example-infoPanel {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: Gilroy, sans-serif;
    color: #333;
    position: absolute;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    bottom: 25px;
    width: 400px;
    max-width: calc(100vw - 40px);
    height: 140px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    box-sizing: border-box;
}

.sdk-example-info-label {
    margin: 10px;
}
