body {
    user-select: none;
    background-color: #f3f3f3;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

.container {
    margin-left: 10px;
}

.element {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-area {
    position: relative;
    bottom: 100%;
}

.search-box {
    height: 55px;
    padding: 7px 10px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #fff;
    bottom: 100%;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 20px;
    z-index: 3;
    top: 100%;
    /*border: 0 solid rgba(0, 0, 0, 0);*/
    width: 300px;
    text-align: start;
}

.search-box:focus {
    border: none;
    outline: none;
}

#autocompleteResults {
    box-sizing: content-box;
    padding: 0;
    margin-bottom: 0;
    background: #fff;
    max-height: calc(100vh - 100px);
    overflow: clip;
    -webkit-tap-highlight-color: #3f9cd9;
    width: 300px;
    border: 0 solid rgba(0, 0, 0, 0);
    position: relative;
    border-radius: 15px;
}

.result-item {
    box-sizing: border-box;
    color: #fff;
    padding: 7px 10px;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    scroll-behavior: smooth;
    margin-bottom: 8px
}

.result-item:hover {
    background-color: #f3f3f3;
    width: 300px;
}

.result-item:active {
    background-color: #3f9cd9;
}

.result-value {
    font-weight: normal;
    color: #263543;
    width: 100%;
}

.result-type {
    font-weight: normal;
    color: #727c85;
}

#fuzzySearchResults {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    background: #fff;
    max-height: calc(100vh - 100px);
    width: 300px;
    position: relative;
    border-radius: 15px;
    overflow: auto;
}

.result-item {
    color: #fff;
    padding: 6px 12px;
    width: 250px;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    border: 0 solid rgba(0, 0, 0, 0);
    position: relative;
    margin-bottom: 8px
}

.result-item:active {
    background-color: #3f9cd9;
}

.highlight {
    background-color: #cccccc;
    width: auto;
    padding: 0;
    -webkit-tap-highlight-color: #3f9cd9;
    position: relative;
}

.search-this-area {
    text-align: center;
}

.search-this-area-btn {
    display: inline-block;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    height: 35px;
    padding: 7px 10px;
    width: 150px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #3f9cd9;
    position: relative;
    bottom: 100%;
    border: #727c85;
}
