@import '../../src/templates/css/base/tokens.css';
@import '../../src/templates/css/base/global.css';
@import '../../src/templates/css/base/typography.css';
@import '../../src/templates/css/panel/custom-panel.css';
@import '../../src/templates/css/panel/search-panel.css';
@import '../../src/templates/css/button/button.css';
@import '../../src/templates/css/form/field.css';
@import '../../src/templates/css/form/input.css';
@import '../../src/templates/css/form/select.css';
@import '../../src/templates/css/form/checkbox.css';
@import '../../src/templates/css/form/slider.css';
@import '../../src/templates/css/form/color.css';

/* CUSTOM STYLES (example-specific) */

.maplibregl-popup-content {
    box-shadow:
        0 54px 55px rgba(0, 0, 0, 0.25),
        0 -12px 30px rgba(0, 0, 0, 0.12),
        0 4px 6px rgba(0, 0, 0, 0.12),
        0 12px 13px rgba(0, 0, 0, 0.17),
        0 -3px 5px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    padding-top: 0;
}

.sdk-example-maps-sdk-js-popup {
    min-width: 300px;
}

.sdk-example-address {
    color: grey;
}

.sdk-example-connector-ul {
    padding: 0;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    list-style-type: none;
}

.sdk-example-connector-li {
    height: 36px;
}

.sdk-example-connectorName {
    font-weight: bold;
}

.sdk-example-connectorPower {
    color: grey;
}

.sdk-example-connectorIcon {
    display: inline-block;
    width: 24px;
    height: 28px;
    vertical-align: middle;
}

.sdk-example-available,
.sdk-example-unavailable,
.sdk-example-noStatus {
    font-weight: bolder;
    float: right;
}

.sdk-example-available {
    color: green;
}

.sdk-example-unavailable {
    color: red;
}

.sdk-example-label {
    height: 24px;
}
