.idea/
.vscode/

node_modules/
**/node_modules/
**/.rollup.cache/
**/dist/
**/coverage/
**/.env

.DS_Store
*.tgz
**/*.tsbuildinfo
**/docs-portal/api-reference/

**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

# Rollup visualizer stats
**/*stats.html
