.idea/
.vscode/
.github/

node_modules/
**/node_modules/
**/.rollup.cache/
**/coverage/

.DS_Store
*.tgz
**/*.tsbuildinfo

scripts/
**/tsconfig.json
**/.eslintignore
**/.eslintrc
**/.prettierrc.js
**/jest.config.ts
**/rollup.config.ts
**/tests/
**/*.test.ts
