.idea/
.vscode/
.github/

node_modules/
**/node_modules/
**/.rollup.cache/
**/coverage/
documentation/
**/documentation/

.DS_Store
*.tgz
**/*.tsbuildinfo

scripts/
**/tsconfig.json
**/.eslintignore
**/.eslintrc
**/.prettierrc.js
**/jest.config.ts
**/rollup.config.ts
**/typedoc.json
**/sonar-project.properties
**/tests/
**/*.test.ts
**/__mocks__/
**/.env
