.idea/
.vscode/

node-modules/
*/node-modules/

.github/

cache-jest/
jest/
src/
**/__mocks__/
**/__stubs__/
**/__tests__/
**/test-utils/
webpack-config/
docs/
scripts/
dist/jest-config/
jest-config/
types/
scripts/

.env*
.huskyrc
.nonsense
jest*.*
.babelrc
.prettierrc.js
.eslintrc
.eslintignore
.*ignore
.npmrc
.npmignore
.commitlintrc.json
**/*.tgz

**/.rollup.cache/
**/*.test.*

# Ignore first level of workspace sources
*/src/*

# Ignore first level of workspace config files
*/*config.*

**/*.tsbuildinfo

# Ignore test coverage
**/coverage/
