.sdk-example-body {
    text-decoration: none;
    user-select: none;
}

.sdk-example-element {
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}

.sdk-example-input {
    text-indent: 10px;
}

.sdk-example-button {
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.sdk-example-search-container {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
}

.sdk-example-refit-button-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
