hr {
    background: #dadce0;
    border: none;
    height: 1px;
    width: 90%;
    margin: 3px 0;
}

button {
    margin-bottom: 5px;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.maplibregl-popup {
    transform: none !important;
    top: 15%;
    left: 10px;
}

.maplibregl-popup-tip {
    display: none;
}

.maplibregl-popup-content {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

.pin {
    position: absolute;
    border-radius: 50%;
    border: 8px solid #00aaff;
    width: 8px;
    height: 8px;
}

.pin::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid #00aaff;
}

.dot {
    position: relative;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #00aaff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
}

.popup {
    position: absolute;
    bottom: -100%;
    left: calc(50% - 225px);
    min-width: 450px;
    animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
    from {
        bottom: -100%;
    }
    to {
        bottom: 10px;
    }
}

.popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
}

.popup-lnglat {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1rem;
    color: #00aaff;
    margin-bottom: 6px;
}
