#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-buttons-container {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.sdk-example-toggle {
    height: 32px;
    padding: 8px 16px;
    margin-bottom: 8px;
    font-family: Gilroy, sans-serif;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
