.maps-sdk-js-examples-body {
    text-decoration: none;
    user-select: none;
}

.maps-sdk-js-examples-element {
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}

.maps-sdk-js-examples-input {
    text-indent: 10px;
}

.maps-sdk-js-examples-button {
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.maps-sdk-js-examples-search-container {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
}

.maps-sdk-js-examples-refit-button-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

#maps-sdk-js-examples-map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}