@import '../../src/templates/css/base/tokens.css';
@import '../../src/templates/css/base/global.css';
@import '../../src/templates/css/button/button.css';

/* CUSTOM STYLES (example-specific) */

.sdk-example-floating-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: var(--sdk-z-panel);
}
