body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
}

.map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.info-panel {
    padding: 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    background-color: white;
    position: absolute;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    bottom: 25px;
    width: 400px;
    height: 140px;
}

.info-label {
    margin: 10px;
}
