#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#sdk-example-traffic-config-panel {
    position: absolute;
    right: 0;
    background: white;
    padding: 8px 16px;
    margin: 10px;
    font-family: Gilroy, sans-serif;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    box-sizing: border-box;
}

#sdk-example-preset-selector,
#sdk-example-jump-to-location-selector {
    display: block;
    padding: 8px 16px;
    margin-bottom: 25px;
    margin-top: 5px;
    border-radius: 20px;
    width: 100%;
    font-family: Gilroy, sans-serif;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0 solid rgba(0, 0, 0, 0);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
