.sdk-example-body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    user-select: none;
}

#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-checkbox-container {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.sdk-example-selector {
    height: 26px;
    padding: 5px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}

.sdk-example-toggle {
    padding: 5px;
    margin-bottom: 5px;
    color: grey;
    background-color: #fff;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}

.sdk-example-input {
    float: right;
    margin-right: 10px;
    height: 14px;
    width: 14px;
    cursor: pointer;
}
