#maps-sdk-js-examples-dropdown {
    height: 20px;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: auto;
}

.maps-sdk-js-examples-body {
    text-decoration: none;
    user-select: none;
}

#maps-sdk-js-examples-searchBox {
    border: none;
    border-radius: 10px;
    height: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}

#maps-sdk-js-examples-searchButton {
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    cursor: pointer;
}

#maps-sdk-js-examples-searchResults {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    background: white;
    max-height: calc(100vh - 100px);
    overflow: auto;
}

#maps-sdk-js-examples-searchResults li {
    padding: 5px 10px;
    border-bottom: 1px #ccc solid;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
#maps-sdk-js-examples-map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.maps-sdk-js-examples-search-container {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: column;
}
.maps-sdk-js-examples-searchbox-container {
    position: relative;
    display: flex;
    flex-direction: row;
}
.maps-sdk-js-examples-searchLocationModeSelectorContainer {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}
