@import '../../src/templates/css/base/tokens.css';
@import '../../src/templates/css/base/global.css';
@import '../../src/templates/css/base/typography.css';
@import '../../src/templates/css/panel/custom-panel.css';
@import '../../src/templates/css/form/select.css';
@import '../../src/templates/css/form/radio.css';
@import '../../src/templates/css/button/button.css';

/* CUSTOM STYLES (example-specific) */

.sdk-example-customPanel {
    width: 280px;
}

/* Responsive: max-width 768px */
@media (max-width: 768px) {
    .sdk-example-customPanel {
        width: 220px;
    }
}
