#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-button-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    box-sizing: border-box;
}

.sdk-example-panel {
    position: absolute;
    background: white;
    padding: 8px 16px;
    margin: 8px;
    font-family: Gilroy, sans-serif;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    box-sizing: border-box;
}

.sdk-example-heading-label {
    margin: 15px 0 5px 0;
    font-weight: bold;
}

.sdk-example-select {
    padding: 7px;
    border-radius: 20px;
}

#sdk-example-reCenter {
    padding: 8px 16px;
    margin-bottom: 5px;
    font-family: Gilroy, sans-serif;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.sdk-example-layers {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    gap: 5px;
}

#sdk-example-mapStyles {
    position: absolute;
    right: 20px;
    padding: 8px 16px;
    font-family: Gilroy, sans-serif;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
