#maps-sdk-js-examples-map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.maps-sdk-js-examples-route-selection-container {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.maps-sdk-js-examples--reCenter-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

#maps-sdk-js-examples-routeSelection {
    margin-bottom: 5px;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

#maps-sdk-js-examples-reCenter {
    margin-bottom: 5px;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
