#sdk-example-maps-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 768px) {
    #sdk-example-maps-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.sdk-example-map {
    min-width: 200px;
    height: 220px;
    grid-column: span 1;
    grid-row: span 1;
}
