@import "../../src/templates/css/base/tokens.css";
@import "../../src/templates/css/base/global.css";
@import "../../src/templates/css/base/typography.css";
@import "../../src/templates/css/panel/custom-panel.css";

.ui-customPanel {
    width: 320px;
}

.ui-description {
    margin: 0;
    font-size: var(--ui-font-body-s);
    line-height: var(--ui-font-body-s-lh);
    color: var(--ui-text-med-em);
}

.ui-description code {
    background: var(--ui-surface-1);
    padding: 1px 4px;
    border-radius: var(--ui-rounded-5);
    font-size: 12px;
}

.ui-selection {
    font-size: var(--ui-font-body-s);
    line-height: var(--ui-font-body-s-lh);
    color: var(--ui-text-high-em);
    background: var(--ui-surface-1);
    padding: var(--ui-space-3);
    border-radius: var(--ui-rounded-10);
    min-height: 20px;
}

.ui-selection strong {
    display: block;
    margin-bottom: var(--ui-space-1);
}
