#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-panel {
    position: absolute;
    right: 0;
    background: white;
    padding: 8px 16px;
    margin: 50px 10px;
    font-family: Gilroy, sans-serif;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    box-sizing: border-box;
}

#sdk-example-icon-style-selector {
    display: block;
    padding: 7px;
    border-radius: 5px;
}

.sdk-example-heading-label {
    margin: 15px 0 5px 0;
    display: block;
    font-weight: bold;
}

.sdk-example-color-selector {
    width: 30px;
    height: 30px;
    margin: 3px;
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.sdk-example-color-selector:hover,
.sdk-example-color-selector.active {
    border: 2px solid #bbb;
    transform: scale(1.1);
    border-radius: 3px;
}
