#maps-sdk-js-examples-map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#maps-sdk-js-examples-traffic-config-panel {
    position: absolute;
    right: 0;
    background: white;
    padding: 10px 20px 0 20px;
    margin: 10px;
    font-family: "Open Sans", Arial, sans-serif;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

#maps-sdk-js-examples-preset-selector, #maps-sdk-js-examples-jump-to-location-selector {
    display: block;
    padding: 7px;
    margin-bottom: 25px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    background-color: #3f9cd9;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
