#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-panel {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    margin: 15px 10px;
    font-family: Gilroy, sans-serif;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.sdk-example-button {
    height: 26px;
    margin-bottom: 5px;
    padding: 8px 16px;
    font-family: Gilroy, sans-serif;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

#sdk-example-mapStyles {
    margin-top: 10px;
    height: 26px;
    padding: 8px 16px;
    font-family: Gilroy, sans-serif;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
