.maps-sdk-js-examples-body {
    text-decoration: none;
    user-select: none;
    font-family: Arial, sans-serif;
}

#maps-sdk-js-examples-map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.maps-sdk-js-examples-mainPanel {
    position: absolute;
    top: 10px;
    right: 20px;
}

.maps-sdk-js-examples-minKWPanel-container {
    margin-top: 60px;
    float: right;
    display: flex;
    flex-direction: column;
}

.maps-sdk-js-examples-minKWLabel {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
    text-shadow: 0 2px 7px rgb(0 0 0 / 30%);
}

.maps-sdk-js-examples-kwInput {
    width: 50px;
    float: right;
}

.maps-sdk-js-examples-element {
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 26px;
    line-height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.maps-sdk-js-examples-input {
    text-indent: 10px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
}

.maps-sdk-js-examples-button {
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    cursor: pointer;
}

/* Overwriting Maplibre original CSS class */
.maplibregl-popup-content {
    box-shadow:
        rgba(0, 0, 0, 0.25) 0 54px 55px,
        rgba(0, 0, 0, 0.12) 0 -12px 30px,
        rgba(0, 0, 0, 0.12) 0 4px 6px,
        rgba(0, 0, 0, 0.17) 0 12px 13px,
        rgba(0, 0, 0, 0.09) 0 -3px 5px;
    border-radius: 5px;
    padding-top: 0;
}

/* Custom CSS for inner content in the popup */
.maps-sdk-js-popup {
    min-width: 300px;
}

.maps-sdk-js-examples-address {
    color: grey;
}

.maps-sdk-js-examples-label {
    height: 24px;
}

.maps-sdk-js-examples-connector-ul {
    padding: 0;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    list-style-type: none;
}

.maps-sdk-js-examples-connector-li {
    height: 36px;
}

.maps-sdk-js-examples-connectorName {
    font-weight: bold;
}

.maps-sdk-js-examples-connectorPower {
    color: grey;
}

.maps-sdk-js-examples-connectorIcon {
    display: inline-block;
    width: 24px;
    height: 28px;
    vertical-align: middle;
}
.maps-sdk-js-examples-available,
.maps-sdk-js-examples-unavailable,
.maps-sdk-js-examples-noStatus {
    font-weight: bolder;
    float: right;
}

.maps-sdk-js-examples-available {
    color: green;
}

.maps-sdk-js-examples-unavailable {
    color: red;
}
