#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#info-panel {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 8px 16px;
    border-radius: 20px;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
