#sdk-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sdk-example-route-selection-container {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.sdk-example--reCenter-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

#sdk-example-routeSelection {
    margin-bottom: 5px;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

#sdk-example-reCenter {
    margin-bottom: 5px;
    color: #fff;
    background-color: #df1b12;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
