*,
*::before,
*::after {
    box-sizing: border-box;
}

.sdk-example-body {
    margin: 0;
    padding: 0;
    font-family: var(--sdk-font-primary);
    font-size: var(--sdk-font-body-m);
    line-height: var(--sdk-font-body-m-lh);
    color: var(--sdk-text-high);
    background-color: var(--sdk-surface-0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#sdk-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
